<%- include('shared/header'); %>
<h1><%= title %></h1>
<p>Welcome to <%= siteName %> !</p>
<p>Member: </p>
<% if(users.length > 0){ %>
  <ul>
    <% users.forEach((user) => { %>
      <li>
        <%= user.name %>
      </li>
    <% }) %>
  </ul>
  <p>And more ...</p>
<% } else { %>
  <p>Would you like to become a member for the first time?</p>
<% } %>
<%- include('shared/footer'); %>
