<%- include('../shared/header'); %>
  <h1><%= title %></h1>
  <p>Users List</p>
  <table>
    <% if(users.length > 0) { %>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
          <tr>
            <td><a href="/users/<%= user.id %>"><%= user.id %></a></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
          </tr>
        <% }) %>
      </tbody>
    <% } %>
  </table>
<%- include('../shared/footer'); %>
