<%- include('../shared/header'); %>
  <h1><%= title %></h1>
  <p>Users List</p>
  <table>
    <% if(users.length > 0) { %>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Sex</th>
          <th>Paid</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
          <tr>
            <td><a href="/users/<%= user.id %>"><%= user.id %></a></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td class="text-center">
              <% if(user.sex === 'MALE') { %>
                <span class="user-sex male">●</span>
              <% } %>
              <% if(user.sex === 'FEMALE') { %>
                <span class="user-sex female">●</span>
              <% } %>
              <% if(user.sex === 'OTHER') { %>
                <span class="user-sex other">●</span>
              <% } %>
            </td>
            <td class="text-center">
              <% if(user.paid === 1) { %>
                <span class="user-paid">●</span>
              <% } %>
            </td>
            <td>
              <a href="/users/<%= user.id %>/edit">Edit</a>
            </td>
            <td>
              <a href="/users/<%= user.id %>/delete">Delete</a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    <% } %>
  </table>
<%- include('../shared/footer'); %>
